extends layout.pug

block content
    section.card#content
        h2.card-title= text
        if hint
            p
                i Hint: #{hint}
        a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        a(href='/cards') Next random card